@model UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <title>Cetak Pengguna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="shortcut icon" href="~/img/logo besar-02.png">
</head>

<body>
    <style>
        @@media print {
            @@page {
                size: landscape;
            }
        }
    </style>
    <div class="mt-4">
        <h3 class="text-center">Daftar Pengguna Aplikasi</h3>
        <div class="ms-5 mb-3 d-print-none">
            <button onclick="print()" class="btn btn-primary"
                style="background-color: #00bcd4!important;border-color: #00bcd4 !important;"><i
                    class="bi bi-printer me-2"></i>Cetak</button>
            <a asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-return-left me-2"></i>Kembali</a>
        </div>
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Gender</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users.Where(user => user.Id != 1))
                {
                    <tr>
                        <td>@Model.Users.ToList().IndexOf(user)</td>
                        <td>@user.Name</td>
                        <td>@(user.Gender == false ? "Putra" : "Putri")</td>
                        <td>@user.Password</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
