@model CandidateViewModel
@{
    ViewBag.PageTitle = "Kandidat Baru";
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Kesalahan!</strong> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="card">
    <div class="card-body">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label" asp-for="ElectionId">ID Pemilihan</label>
                <input type="text" class="form-control" asp-for="ElectionId" readonly="true">
                <small class="text-danger form-text"><span asp-validation-for="ElectionId"></span></small>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Code">ID Pengguna</label>
                <input type="text" class="form-control" asp-for="Code" asp-list="Fruits" />
                <datalist asp-items="Fruits"></datalist>
                <small class="text-danger form-text"><span asp-validation-for="Code"></span></small>
            </div>
            @* form untuk color *@
            <div class="mb-3">
                <label class="form-label" asp-for="Color">Warna</label>
                <input type="color" class="form-control" asp-for="Color">
                <small class="text-danger form-text"><span asp-validation-for="Color"></span></small>
            </div>
            @* form untuk gambar *@
            <div class="mb-3">
                <label class="form-label" asp-for="Image">Gambar</label>
                <input type="file" class="form-control" asp-for="Image" onchange="previewImage(event,'preview')">
                <small class="text-danger form-text"><span asp-validation-for="Image"></span></small>
            </div>
            @* preview *@
            <div class="mb-3">
                @* gambar placeholder *@
                <img class="img-thumbnail" src="@(Url.Content("/img/nophoto.jpg"))" id="preview"
                    style="width: 100px; height: 100px;">
            </div>
            <button class="btn btn-primary" type="submit">Simpan</button>
            <a asp-action="Index" class="btn btn-secondary">Kembali</a>
        </form>
    </div>
</div>