@model ElectionViewModel
@{
    ViewBag.PageTitle = "Ubah Pemilihan";

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label" asp-for="Name">Nama</label>
                <input type="text" class="form-control" asp-for="Name">
                <small class="text-danger form-text"><span asp-validation-for="Name"></span></small>
            </div>
            <button class="btn btn-primary" type="submit">Simpan</button>
            <a asp-action="Index" class="btn btn-secondary">Kembali</a>
        </form>
    </div>
</div>